<footer class="footer">
  <div class="container">
    {% include "@ui/nav/template.twig" %}
    <div class="group">
      <div class="column">
        <p class="copyright">Коллаген © 2025</p>
        <a href="https://rocont.ru/policy" target="_blank" class="link">Политика обработки чего-то личного</a>
      </div>
      {% include "@ui/logo/template.twig" %}
    </div>
  </div>
</footer>
