<header class="header js-header">
  <div class="container">
    <div class="inner">
      {% include "@ui/logo/template.twig" %}
      <div class="wrapper">
        {% include "@ui/burger/template.twig" %}
        <div class="content js-burger-manu">
          {% include "@ui/nav/template.twig" %}
        </div>
      </div>
    </div>
  </div>
</header>
