<button type="button" class="burger button-icon _prime js-burger">
  <svg class="icon" viewBox="0 0 100 100" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path class="line _top" d="M25 37H75C88.1004 37 82.4806 70.8808 75 72.5C53.5 76 85.5 16 70 30L30.5 69.5" stroke="currentColor" stroke-linecap="round"/>
    <path class="line _middle" d="M75 50C75 50 33.2865 50 25.5 50C21.5 50 20.2855 44.4999 21 39.5C21.7144 34.5 26 26 30 30C36.2127 36.2126 70 70 70 70" stroke="currentColor" stroke-linecap="round"/>
    <path class="line _bottom" d="M74.5 63H25C11.5 60.5 18.255 29.8007 25 27C50 16.6194 12.5 87 30 70L70 30" stroke="currentColor" stroke-linecap="round"/>
  </svg>
</button>
