<section id="architecture" class="not-quite js-announce-slider">
  <div class="container">
    <div class="inner">
      <div class="info">
        <h2 class="title">Это — не совсем то, что вы думаете</h2>
        {% include "@ui/slider-nav/template.twig" %}
      </div>

      {% include "@features/announce-slider/template.twig" %}
    </div>
  </div>
</section>
