<div class="map js-map">
  <img
    width="545"
    height="435"
    class="img lazy"
    data-src="https://static-maps.yandex.ru/v1?z=16&size=650,450&ll=30.437967,59.994193&lang=ru_RU&style=tags.any:road|elements:geometry|stylers.color:c0c7d5~tags.any:road_minor|elements:geometry|stylers.opacity:0.2&apikey=dbbcb516-093e-4f66-9fcf-3a152aa0d7bd"
    alt=""
  >
</div>
